body {
  background-color: #fff2e3;
}

img {
  width: 100%;
  flex-wrap: wrap;
}

#name {
  display: flex;
  margin: 10px;
  font-family: "Poppins", sans-serif;
}

#greeting {
  display: flex;
  margin: 10px;
  font-family: "Poppins", sans-serif;
}

#errors {
  display: flex;
  margin: 10px;
  font-family: "Poppins", sans-serif;
}

#consent {
  display: inline;
  margin: 10px;
  font-family: "Poppins", sans-serif;
}

.mail-consent {
  display: inline-block;
  padding: 30px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.ownerspicture {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin-top: 150px;
  text-align: justify;
  font-family: "Poppins", sans-serif;
}
